*{
    margin: 0;
    padding:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
/* color of background */
body {
    background-color: rgb(151, 169, 177);
    
}

/* contents of header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(65, 61, 61, 0.712);
    

}

nav{
    padding: 20px;
    margin: 20px;
    float: right;
    list-style-type: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-pic{
    size: 20px;
}
li{
    padding: 2px;
    color: rgb(224, 215, 215);
    list-style-type: none;
}
aside{
    padding:40px;
    position:relative;
    
}
.aside-images{
    Width: 100px;
    border-radius: 0px;
    mix-blend-mode:darken;
}
img{
    width: 100px;
    border-radius: 10px;
}
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://i.ytimg.com/vi/7dkrwPrmH-Y/maxresdefault.jpg"); 
    /* how to do a alt in css */
    background-size: cover;
    background-position: center;
}